body {
  background-color: #f8f9fa;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
}
li {
    list-style-type:none;
}
/* HERO IMAGE */
.hero-info {
  margin-top: -12px;
}
.hero-img {
    width: 100%;
    height: auto;
}
.hero-title {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.hero-subtext {
  font-size: 0.6rem;
  color: #6c757d; /* Bootstrap's text-muted */
  margin-bottom: 0.25rem;
}
/* END */


h2, h3 {
  font-weight: 500;
  margin-top: 1rem;
}

.card-title {
  font-size: 1.75rem;
}

.section-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
/* ABOUT */
.about-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.about-text p {
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.6;
}
/* WORK */ 
.gallery {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 60px 24px;
}

.gallery-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gallery-column img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }
}
/* footer */
.footer-bar {
  padding: 40px 0;
  font-size: 0.85rem;
  background-color: #f8f9fa;
}

.footer-link {
  text-decoration: none;
  color: inherit;
}

.footer-link:hover {
  text-decoration: underline;
}

/* info */
.contact-content {
  font-size: 0.95rem;
  line-height: 1.6;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}

.contact-link:hover {
  text-decoration: underline;
}